/* credit to button 53 https://getcssscan.com/css-buttons-examples */
/* Colors */
/* #64B5F6 blue */
/* #FFD54F yellow */
/* #F44336 red */


/* Mobile First Design */

/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Henny+Penny&family=Lexend+Deca&family=Pompiere&family=Unkempt&display=swap');

.App {
  text-align: center;
  background-image: url("assets/patternpadprimary.svg");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
}

nav {
  /* background: linear-gradient(#6fb9f5 , 70%, #d1fea930); */
  background: #64B5F6;
  top: -1vw;
  padding: 3vw;
}

p, a {
  font-family: 'Lexend Deca', sans-serif;
  color: black;

}

h1, .button {
  font-family: 'Pompiere', sans-serif;
  color: black;
}


ul {
  padding-inline-start: 0;
  margin-top: 0;
}

li {
  display: inline-block;
  padding: 1vw;
}

a {
  text-decoration: none;
  font-weight: 600;
  margin: 5vw;
}

a:hover {
  text-decoration: dotted;
}

.questionsStyling {
  font-family: 'Pompiere', sans-serif;
  font-size: 25px; 
  font-weight: 700;
}

.wholeQuiz, .option1, .option2, .option3 {
  margin: 1vw;
  /* backdrop-filter: blur(5px);
  background-color: transparent; */
  letter-spacing: 2px;

}

.rightColumn {
  backdrop-filter: blur(10px);
  background-image: radial-gradient(at bottom left, hsla(46, 100%, 65%, 0.3) ,hsla(51, 100%, 50%, 0.3),hsla(46, 100%, 65%, 0.2));
}

.yellowRobot, .auditoryLearner, .kinestheticLearner, .visualLearner {
  width: 20vw;
  margin: 10%;
}


/* Do not touch below until last */

.button {
  background-color: #6fb9f5;
  /* background-color: #3DD1E7; */
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 900;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  text-align: center;
  text-decoration: none #000000 solid;
  /* text-decoration-thickness: auto; */
  width: 100%;
  max-width: 460px;
  /* position: absolute; */
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 50%;



  /* margin: 5%, 0, 0, 30%; */

  margin-left: 30%;
  margin-top: 5%;;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 2px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}



/* Desktop, and ipads */
@media (min-width:641px) {

  nav {
    background: linear-gradient(#6fb9f5 , 70%, #d1fea930);
    top: -1vw;
    margin: 0vw;
    padding: 0vw;
  }
  a {
    margin: 0;
  }
  .gridDiv {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr;
    max-height: 90vh;
    overflow: hidden;
  }

  .leftColumn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
  }

  .rightColumn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: scroll; 
    position: relative;
    /* background-origin: border-box; */
    border-radius: 25% 25%;
  }

  .yellowRobot, .auditoryLearner, .kinestheticLearner, .visualLearner {
    width: 20vw;
    margin: 20%;
  }
}


/* Sets quiz button to invisible (until all quiz answers are selected) */
.hidden {
  display: none;
}